<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true" internalLogLevel="Trace" internalLogFile="${basedir}\logs\internallog.log" throwConfigExceptions="true">
	<!-- enable asp.net core layout renderers -->
	<extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="logfile" fileName="${basedir}/logs/nlog-${date:format=yyyy-MM-dd}.log"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
        <!-- Other targets like console, database, etc. can be added here -->
        <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
        <target xsi:type="Console" name="console" layout="${MicrosoftConsoleLayout}" />
    </targets>
	<rules>
        <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Info" writeTo="logfile" />

        <!-- Other rules can be added here -->
	</rules>
</nlog>